.button {
  background-color: #fff;
  color: #0b0000;
  border: 1px solid black;
  border-radius: 15px;
  height: 35px;
  font-size: 0.8rem;
}

.button:hover,
.button:active {
  color: rgb(0, 0, 0);
  background-color: rgb(214, 214, 214);
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid black;
  padding: 0.15rem 1.25rem;
  color: #000000;
}
